# Python Objects and Data Structures

In this lecture, we will learn about Objects and Data Structures Python and how to use them.

We'll learn about the following topics:

    1.) Types of numbers in Python
    2.) Variable Assignment and Working with Numbers
    3.) Strings
    4.) Lists
    5.) Dictionaries
    6.) Tuple
    7.) Sets

## Types of Numbers

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

## Variable Assignment and Working with Numbers

We will start with assigning values to variables. the values can be of "integer" type or "float" type. Please consider the following rules before naming the variables.
    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"
    
Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [1]:
#assigning different number types to different variables
my_income = 100
tax_rate = 0.1

**TIP: Use object names to keep better track of what's going on in your code!**

In [2]:
#performing calculation by using variables
my_taxes = my_income*tax_rate

In [3]:
# printing the variable
my_taxes

10.0

**OR**

In [4]:
# printing the variable
print(my_taxes)

10.0

### Task 1

Calculate the area of a rectangle having length of 15 cm and width of 10 cm. Use variable assignment and perform calculations using variables. Also display the result.

In [8]:
# Assign values to variables
length=15
width=10

In [9]:
# Perform Calculation

area=length*width

In [10]:
# Display the result
print(area)

150

## Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [11]:
# Set object to be a boolean
a = True

In [12]:
#Show
a

True

We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

In [14]:
# Output is boolean
1 > 2

False

## Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [15]:
type(4)

int

In [16]:
type(3.14)

float

In [19]:
type(False)

bool

In [20]:
type(" True")

str

# Strings

Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. 

In this lecture we'll learn about the following:

    1.) Creating Strings
    2.) Printing Strings

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [21]:
# Single word
b="hello123"
print(b)

hello123

In [22]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [23]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [24]:
# Be careful with quotes!
' im using single quotes, but this will create an error'

' im using single quotes, but this will create an error'

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [25]:
 "I'm using single quotes, but this will create an error'"

"I'm using single quotes, but this will create an error'"

## Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [26]:
# We can simply declare a string
'Hello World'

'Hello World'

In [27]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

We can use a print statement to print a string.

In [28]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

We can also assign string to a variable!

In [29]:
a='Hello World'
print(a)

Hello World

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed.

Something we *can* do is concatenate strings!

In [32]:
s='hello'

In [33]:
# Concatenate strings!
s + ' concatenate me!'

'hello concatenate me!'

In [34]:
# We can reassign s completely though!
s = s + ' concatenate me!'
print(s)

hello concatenate me!

We can use the multiplication symbol to create repetition!

In [35]:
letter = 'z'

In [36]:
letter*10

'zzzzzzzzzz'

### Task 2
Make a string having your name and print it 5 times.

In [37]:
# string assignment
name = 'iqra'
type(name)
name=name*5

In [38]:
# printing the string
print(name)

iqraiqraiqraiqraiqra

# Lists

Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

In this section we will learn about:
    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Nesting Lists

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [39]:
# Assign a list to an variable named my_list
my_list=[1,2,3]

In [40]:
my_list

[1, 2, 3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [41]:
my_list = ['A string',23,100.232,'o']

In [ ]:
my_list

In [42]:
#mypracticeonlist
mylist1=[1,'ine',0.1]
type(mylist1[1])

str

### Indexing and Slicing
We know Lists are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. 

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. 

Let's create a new object called <code>my_list</code> and then walk through a few examples of indexing.. Let's make a new list to remind ourselves of how this works:

In [45]:
my_list = ['one','two','three',4,5]

In [46]:
# Grab element at index 0
my_list[0]

'one'

In [48]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [49]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

You can always access the indices in reverse. For example working according to the index, <code>my_list[0]</code> will be the first item and <code>my_list[-1]</code> will be the last one. Try the fowwlowing code.

In [100]:
# Grab the last index in reverse
my_list[-1]

5

**Try yourself!**

In [103]:
# Grab the second last index in reverse
my_list[-2]

4

### Checking the type

In [104]:
type(my_list)

list

In [105]:
# identifying type of specific object in list
type(my_list[4])

int

### Task 3

Suppose we have a list containing areas of different rooms. Complete the given tasks using indexing and slicing.

In [107]:
# The list having areas of 6 rooms respectively
area=[28.3, 45.9, 123.4, 555, 213, 121]

In [108]:
# Show the area of third room in the list

area[2]

123.4

In [109]:
# Show the areas of rooms first three rooms in the list

area[:3]

[28.3, 45.9, 123.4]

In [111]:
# Show the area of rooms from 2 to 5 

area[1:6]

[45.9, 123.4, 555, 213, 121]

We can also use '+' to concatenate lists.

In [112]:
my_new=my_list + ['new item']

In [113]:
my_new

['one', 'two', 'three', 4, 5, 'new item']

Note: This doesn't actually change the original list!

In [114]:
my_list

['one', 'two', 'three', 4, 5]

Note that lists are mutable objects i.e. a separate index can be changed through indexing

In [115]:
#mutable list objects can be changed
my_new[0]= 1
my_new

[1, 'two', 'three', 4, 5, 'new item']

You would have to reassign the list to make the change permanent.

In [116]:
# Reassign
my_list = my_list + [1]

In [117]:
my_list

['one', 'two', 'three', 4, 5, 1]

We can also use the * for a duplication method similar to strings:

In [118]:
my_list * 2

['one', 'two', 'three', 4, 5, 1, 'one', 'two', 'three', 4, 5, 1]

In [119]:
my_list*3

['one',
 'two',
 'three',
 4,
 5,
 1,
 'one',
 'two',
 'three',
 4,
 5,
 1,
 'one',
 'two',
 'three',
 4,
 5,
 1]

In [120]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 1]

# Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables. 

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [50]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [51]:
# Call values by their key
my_dict['key2']

'value2'

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [52]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [53]:
# Let's call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [54]:
# finding out the type 
type(my_dict)

dict

**Task: Check type of 'key2'**

In [55]:
# Try here!
type(my_dict['key2'])

list

We can affect the values of a key as well. For instance:

In [56]:
my_dict['key1']

123

In [57]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [58]:
#Check
my_dict['key1']

0

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [59]:
# Create a new dictionary
d = {}

In [60]:
# Create a new key through assignment
d['animal'] = ['Dog','Cat']

In [61]:
# Can do this with any object
d['answer'] = 42

In [62]:
#Show
d

{'animal': ['Dog', 'Cat'], 'answer': 42}

In [63]:
#mydictpractice
dict1={'key1':'value1','isb':'f10','num':123}
type(dict1)
dict1['swl']=['food','brands']
type(dict1['swl'])
dict1['num']= dict1['num']-123

## Nesting with Dictionaries

Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [64]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [65]:
# Keep calling the keys
d['key1']['nestkey']

{'subnestkey': 'value'}

In [66]:
d

{'key1': {'nestkey': {'subnestkey': 'value'}}}

In [67]:
# for getting the inner most value
d['key1']['nestkey']['subnestkey']

'value'

## Dictionaries Exercise

In [74]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# From string in countries and capitals, create dictionary europe
europe = {countries[0]:capitals[0], countries[1]:capitals[1],countries[2]:capitals[2]}


#print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin'}

# Tuples

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 

In this section, we will get a brief overview of the following:

    1.) Constructing Tuples
    2.) Immutability
    3.) When to Use Tuples

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

## Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [37]:
# Create a tuple
t = (1,2,3)

In [38]:
# Can also mix object types
t = ('one',2)

# Show
t

('one', 2)

In [39]:
# Use indexing just like we did in lists
t[0]

'one'

In [40]:
# Slicing just like a list
t[-1]

2

In [41]:
#my practice
tupe = (1,2,3,'on')
type(tupe)
tupe[-1]

'on'

## Immutability

It can't be stressed enough that tuples are immutable. To drive that point home:

In [42]:
t[0]= 'change'

TypeError: 'tuple' object does not support item assignment

Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

In [43]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

In [46]:
#mypracticeontuple
#tupe[2]='iqr'
tupe.append(1)

AttributeError: 'tuple' object has no attribute 'append'

## When to use Tuples

You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.

You should now be able to create and use tuples in your programming as well as have an understanding of their immutability.

# Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [18]:
x = set()

In [19]:
type(x)

set

In [20]:
# We add to sets with the add() method
x.add('a')

In [21]:
#Show
x

{'a'}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [24]:
# Add a different element
x.add('b')
# show
x

{'a', 'b'}

In [26]:
# Try to add the same element
x.add('b')
# show
x

{'a', 'b'}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [ ]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [28]:
#my practice
list2 = [2,2,1,2,1,3,4,4]
list2
set(list2)

{1, 2, 3, 4}

In [ ]:
# Cast as set to get unique values
set(list1)

## Object Type Casting
You can cast type of any object in Python. Common data types casting functions include:
* **int()** (for integer)
* **float()**
* **str()** (for string)
* **bool()** (for Boolean True/False)

You can type cast any object throught the following code. The given example is converting **float** to **int**.

<code> int(5.8) </code>

### Home Task

In [1]:
# convert 80 into float type
float(80)

80.0

In [4]:
# convert 20.9 into a string and check its type
a=str(20.9)
type(a)

str

In [9]:
# convert a boolean valua into int
bol =True
int(bol)

1

In [6]:
# convert '123' into float
float('123')

123.0